/*
purple
6D2E5B

lightblue
D3E5FF

green
F4FFF7

tan
F2D4BF

grey
999999
*/
*{
  box-sizing: border-box;
}

html {
  padding: 0;
}

body {
  border:0px;
  background: url(alleyway.jpg) no-repeat center fixed;
  -webkit-backgroun-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-wrap {
    /* max-width: 900px; */
    margin: 0 auto;
    padding: 20px;
    overflow: auto;
}



.App {
  text-align: center;
  /* justify-content: center; */
  /* background-color: #6D2E5B50; */
  margin: 0;
  width: 100%
}

.main{
  min-height: calc(100vh - 145px);
}


.pageTitle {
  color: #6D2E5B;
  /* position: absolute; */
  /* top: 0; */
  /* height: 50px; */
  background-color: #F2D4BF;
  opacity: 0.95;
  min-width: 90vw;
  opacity: 0.9;
}

footer {
  /* margin: 30px 0px 0px 0px; */
  min-width: 90vw;
  margin:auto;
  /* align-items: center; */
  /* position: sticky; */
  /* height: 40px; */
  padding: 1em;
  /* max-width: 80vw; */
  color: white;
  background-color: #ad74db20;
}

footer a {
  color: #6D2E5B;
  font-size: 1em;
}

footer a:hover {
  background-color: #6D2E5B;
  border: 1px solid #6D2E5B;
  color: #D3E5FF;
}

.footer-div {
  background-color: #F4FFF7;
  opacity: 0.6;
  border: 2px solid #6D2E5B;

}

/* ----------ALL LISTS---------- */

.allCategories {
  /* justify-content: center; */
  /* position: absolute; */
  /* min-width: 80vw; */
  display: flex;
  position: relative;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  background-color: #F4FFF7;
  opacity: 0.9;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  margin-top: 7px;
  /* margin: 10px; */
}

.createCatForm {
  /* width: 80vw; */
  background-color: #F2D4BF;
  opacity: 0.95;
  padding: 15px;
  border-radius: 0px 0px 10px 10px;
}

.createCatForm input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #6D2E5B;
  padding: 5px;
}

.createCatForm button{
  background-color: #F2D4BF95;
  color: #6D2E5B;
  /* box-shadow: 10px black solid; */
  border: 1px solid #6D2E5B;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  margin: 0px 0px 0px 4px;
  -webkit-transition-duration: 0.2s;
}

.createCatForm button:hover {
  background-color: #6D2E5B;
  border: 1px solid #6D2E5B;
  color: #D3E5FF;
}


/* ----------INDIVID CATEGORY---------- */
@media(max-width: 768px) {
  .mappedItems {
    width: 100%;
    padding: 0;
  }
}

.categorySection {
  background-color: #ad74db20;
  padding: 15px;
  /* text-align: center; */
  /* margin: 8px 8px; */
  margin:auto;
  margin-bottom: 10px;
  border: 2px solid #6D2E5B;
  width: 300px;
  height: 300px;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* margin: -70px 0 0 -170px; */

}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.catTitle {
  display: inline-block;
  font-size: 18px;
  margin: 0px 0px 12px 0px;
  color: #6D2E5B;
}

.ulCatComp {
  /* background-color: #87a; */
  padding: 10px;
  color: #333;
  list-style-type: none;
}

.addItemForm {
  background-color: #F2D4BF;
  padding: 15px;
  border-radius: 5px;
  max-width: 40vw;
  /* border-bottom: 2px solid red; */
}

.addItemForm input {
  background-color: #F2D4BF;
  padding: 5px;
  width: 80%;
  /* margin: 0px 80px; */
  border: none;
  border-bottom: 2px solid #6D2E5B;
}

.addItemForm button {
  background-color: #F2D4BF;
  color: #6D2E5B;
  /* box-shadow: 10px black solid; */
  border: 1px solid #6D2E5B;
  cursor: pointer;
  border-radius: 3px;
  padding: 7px 4px;
  margin: 0px 0px 0px 4px;
  -webkit-transition-duration: 0.4s;
}

.addItemForm button:hover{
  background-color: #6D2E5B;
  border: 1px solid #6D2E5B;
  color: #D3E5FF;
}

.deleteButton {
  background-color: transparent;
  border: none;
  /* bottom: 0px; */
  padding: 5px;
  cursor: pointer;
  color: #6D2E5B;
  float: right;
  -webkit-transition-duration: 0.4s;
  /* position: absolute; */
  /* top: 50%; */
  /* right: 5%; */
}

.deleteButton:hover {
  color: red;
}

/* ----------INDIVID ITEMS---------- */

.liItem {
  background-color: #D3E5FF;
  /* position: relative; */
  padding: 0;
  /* width:100%; */
  border-radius: 10px;
  /* margin: 8px 40px 8px 8px; */
  margin: auto;
  margin-bottom: 5px;
  /* border: 0.5px solid black; */
  /* list-style-type: none; */
}

.liItem h4 {
  padding: 0px 20px;
}

/* trying to change the background color if completed */
/* .liItem .itemButton .completedItem{
  background-color: #333;
} */

.itemButton {
  cursor: pointer;
  padding: 0;
  border: none;
  width: 85%;
  /* color: #de1320; */
  background-color: transparent;
}

.completedItem {
  text-decoration: line-through;
  color: #999999;
  font-weight: lighter;
}
